<!DOCTYPE html>
<html>

<head>
    <!-- Head data -->
    
    <title> 1Med Health | Patient dashboard</title>

    <link href="../assets/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
<link href="../assets/css/icons.css" rel="stylesheet" type="text/css" />
<link href="../assets/css/dashboard-style.css" rel="stylesheet" type="text/css" />
<link href="../assets/css/mystyle.css" rel="stylesheet" type="text/css" />

<script src="../assets/js/modernizr.min.js"></script>

    
</head>


<body class="fixed-left">

    <!-- Begin page -->
    <div id="wrapper">

        <!-- Top Bar Start -->
        <%- include('../includes/topbar.ejs') -%>
        <!-- Top Bar End -->

        <!-- ========= = Left Sidebar Start ========= = -->
        <%- include('../includes/sidenav.ejs') -%>
        <!-- Left Sidebar End -->



        <!-- ============================================================== -->
        <!-- Start right Content here -->
        <!-- ============================================================== -->
        <div class="content-page">
            <!-- Start content -->
            <div class="content">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-xl-12 col-md-15">

                            <h1 class="text-custom">Healthcare Practitioners</h1>
                            <div class="row">
                            <div class="col-xl-3 col-md-6">
                            <div class="card-box widget-user">
                                <div class="text-left">
                                    <h3 class="text-custom" >Dr. Alonge Andrew</h3>
                                    <h5>Medical Officer</h5>
                                </div>
                            </div>
                        </div>


                        <div class="col-xl-3 col-md-6">
                            <div class="card-box widget-user">
                                <div class="text-left">
                                    
                                    <img src="../assets/img/logo/1med.png" class="user-img">
                                    <h3 class="text-custom" >Dr. Alonge Andrew</h3>
                                    <h5>Medical Officer</h5>
                                </div>
                                </div>
                            </div>


                        <div class="col-xl-3 col-md-6">
                            <div class="card-box widget-user">
                                <div class="text-left">
                                    <h3 class="text-custom" >Dr. Alonge Andrew</h3>
                                    <h5>Medical Officer</h5>
                                </div>
                                </div>
                            </div>
                            <div class="col-xl-3 col-md-6">
                            <div class="card-box widget-user">
                                <div class="text-left">
                                    <h3 class="text-custom" >Dr. Alonge Andrew</h3>
                                    <h5>Medical Officer</h5>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                      
                    </div>
                </div> <!-- container -->

            </div> <!-- content -->

            <!-- Footer -->
        <%- include('../includes/footer.ejs') -%>

        </div>


        <!-- ============================================================== -->
        <!-- End Right content here -->
        <!-- ============================================================== -->


        <!-- Right Sidebar -->
        <%- include('../includes/rightbar.ejs') -%>
        <!-- /Right-bar -->

    </div>
    <!-- END wrapper -->

    <%- include('../includes/footerscripts.ejs') -%>
    
    <script src="/assets/js/map.js"></script>
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAgknwI29RzE-7wLX_tQjbYTmnEtlw0BVs&callback=initMap"></script>

</body>

</html>